.view-board {
    background-color: #00a9ff;
  }
  
  .search {
      margin-top: 20px;
      margin-left: 20px;
      display: flex;
      flex-wrap: wrap;
      border-radius: 5px;
      box-shadow: 0px 2px 2px 2px #cccccc;
      width: 60vw;
    }
  
    .search p {
      margin-top: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      margin-right: 10px;
      font-size: 25px;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif;
    }
  
    .search-group {
      margin-left: 10px;
      margin-top: 15px;
      margin-bottom: 10px;
      width: 75%;
    }
    .search-group input{
      margin-left: 10px;
      width: 40vw;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-shadow: inset 2px 2px 5px #ccc;
    }
  
  .submit .btn {
      width: 10vw;
      margin-left: 10px;
      margin-top: 15px;
      margin-bottom: 10px;
      margin-right: 10px;
      background-color: #007BFF;
      color: #fff;
      border: none;
      border-radius: 3px;
      padding: 10px 20px;
      box-shadow: 2px 2px 5px #ccc;
      cursor: pointer;
      margin-bottom: 20px;
  }

  .tasks {
    width: 40vw; 
    height: auto;
    margin-left: 10px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 2px #ccc;
}

.parent p {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.heading {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.buttons {
  display: flex;
}

.input-group {
  width: 0px;
}
.btns input {
  margin-left: 0px;
  width: 0px;
  padding: 0px;
}

.btns .submit .btn {
  width: max-content;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 10px 20px;
}

.parent {
  border: 1px solid #cccccc;
  border-radius: 6px;
  padding: 10px;
}

tr th {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #cccccc;
}

tr td {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #cccccc;
}

.board {
  display:flex;
}

.messages {
  width: 30vw;
  height: 60vh;
  margin-left: 10px;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  box-shadow: 0px 2px 2px 2px #ccc;
  overflow-y: scroll;
  position: relative;
}

.send {
  position: absolute;
  bottom: 0;
  height: fit-content;
}

.messages .message-heading {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.send-btns {
  display: flex;
  margin-left: 0px;
  margin-right: 1px;
  width: 30vw;
}
.send .input-group input {
  margin-left: 2px;
  width: 20vw;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 2px 2px 5px #ccc;
}

.send-btns .submit .btn {
  width: min-content;
  margin-top: 2px;
  margin-left: 0px;
}

.send-btns .submit {
  position: absolute;
  right: 0;
}

.Name {
  font-size: 10px;
  font-weight: bolder;
  margin: 1px;
  padding: 1px;
}

.Text {
  font-family: 'Times New Roman', Times, serif;
  margin: 1px;
  padding: 1px;
}

.sender .Name {
  color: #007BFF;
}
.sender {
  border-left: 2px solid #007BFF;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 5px;
}

.receiver {
  border-left: 1px solid #484848;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 5px;
}

.hold-heading {
  display: flex;
}