<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>TaskHub</title>
        <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
        <link rel="manifest" type="text/css" href="../static/images/site.webmanifest">
        <link rel="stylesheet" type="text/css" href="../static/styles/common.css">
        <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
        <link rel="stylesheet" type="text/css" href="../static/styles/main_body.css">
        <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
    </head>
    <body>
        <header>
            <div class="header-box">

                <div class="logo">

                    <div class="header_logo">
                        <img src="../static/images/logo.svg" alt=""/>
                    </div>
                    <h2 class="header_name_1">Task</h2>
                    <h2 class="header_name_2">Hub</h2>
                </div>
     
                <div class="header_links">
                    <a>Features</a>
                    <a type="text/html" href="/log_in">Log in</a>
                    <a href="/sign_up">Sign up - it's free</a>
                </div>

            </div>

        </header>
        <div class="intro">
            <div class="intro_text">
                <p id="catchphrase">Simplify, Organize, Achieve... A step at a time</p>
                <p><em>TaskHub</em> helps you create to-do lists, simplify tasks organization,
                manage projects. Whether you're flying solo or collaborating with a team, 
                make task management a breeze. Break down tasks to smaller components, 
                track your progress and plan your journey ahead</p>
            </div>
            <div class="intro_image">
            </div>
        </div>
        <div id="Features">
            <div>
                <img src="../static/images/checklist.svg" alt="checklist"/>
                <h2>Manage Tasks</h2>
                <p>With <em>TaskHub</em>, you have the ultimate tool for piecing tasks together.
                Create, track, manage, and conquer!"</p>
            </div>
            <div>
                <img src="../static/images/groups.svg" alt="group"/>
                <h2>Collaborate</h2>
                <p>With <em>TaskHub</em>, create teams to work with and conquer projects together</p>
            </div>
            <div>
                <img src="../static/images/chat.svg" alt="chat"/>
                <h2>Team communication</h2>
                <p>With <em>TaskHub</em>, you communicate and discuss with your team members 
                and hasten productivity</p>
            </div>
            <div>
                <img src="../static/images/folder.svg" alt="folder"/>
                <h2>Manage Projects</h2>
                <p>With <em>TaskHub</em>, As a project manager, you create teams, 
                assign tasks to members and view progress. This way, tasks are always in line, 
                deadlines are kept on track and your team is right on cue</p>
            </div>
        </div>
        <a class="demo">Want to know more... Watch demo video here</a>
        <footer>
            <div class="footer-box">

                <div class="logo">

                    <div class="footer_logo">
                        <img src="../static/images/footer_logo.svg" alt="logo"/>
                    </div>
                    <h2 class="header_name_1">Task</h2>
                    <h2 class="header_name_2">Hub</h2>
                </div>
     
                <div class="info">
                    <p>Check out the developer behind <em>TaskHub</em></p>
                    <div>
                        <a href="https://www.github.com/HenryAnyiam" target="_blank">
                            <img src="../static/images/github.svg" alt="github">
                        </a>
                        <a href="https://www.linkedin.com/in/henry-anyiam" target="_blank">
                            <img src="../static/images/linkedin.svg" alt="linkedin">
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>