<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>TaskHub</title>
        <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
        <link rel="manifest" type="text/css" href="../static/images/site.webmanifest">
        <link rel="stylesheet" type="text/css" href="../static/styles/common.css">
        <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
        <link rel="stylesheet" type="text/css" href="../static/styles/main_body.css">
        <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <body>
        <header>
            <div class="header-box">

                <div class="logo">

                    <div class="header_logo">
                        <img src="../static/images/logo.svg" alt=""/>
                    </div>
                    <h2 class="header_name_1">Task</h2>
                    <h2 class="header_name_2">Hub</h2>
                </div>
                <div class="header_links">
                    <div class="header_link">
                        <div class="features">
                            <div>
                                <h2>Manage Tasks</h2>
                                <p>With <em>TaskHub</em>, you have the ultimate tool for piecing tasks together.
                                Create, track, manage, and conquer!"</p>
                            </div>
                            <div>
                                <h2>Collaborate</h2>
                                <p>With <em>TaskHub</em>, create teams to work with and conquer projects together</p>
                            </div>
                            <div>
                                <h2>Communicate</h2>
                                <p>With <em>TaskHub</em>, you communicate and discuss with your team members 
                                and hasten productivity</p>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="display-features">Features</a>
                    </div>
                    <div class="header_link">
                        <a href="/view_task">My Account</a>
                    </div>
                    <div class="header_link">
                    <a type="text/html" href="/log_in">Log in</a>
                    </div>
                    <div class="header_link">
                        <a href="/sign_up">Sign up - it's free</a>
                    </div>
                </div>

            </div>

        </header>
        <div class="intro">
            <div class="intro_text">
                <p id="catchphrase">Simplify, Organize, Achieve... A step at a time</p>
                <p><em>TaskHub</em> helps you create to-do lists, simplify tasks organization,
                manage projects. Whether you're flying solo or collaborating with a team, 
                make task management a breeze. Break down tasks to smaller components, 
                track your progress and plan your journey ahead</p>
            </div>
            <div class="intro_image">
            </div>
        </div>
        <div id="Features">
            <div class="texts">
                <div class="fly-solo">
                </div>
                <div class="messages">
                    <img src="../static/images/checklist.svg" alt="checklist"/>
                    <h2>Manage Tasks</h2>
                    <p>Empower yourself with <em>TaskHub</em>, the ultimate tool for
                    seamlessly assembling tasks. Conquer, organize, track, and create success!</p>
                </div>
                <div class="fly-solo1">
                </div>
            </div>
            <div class="texts">
                <div class="groups">
                </div>
                <div class="messages">
                    <img src="../static/images/groups1.svg" alt="group"/>
                    <h2>Collaborate</h2>
                    <p>Utilize <em>TaskHub</em> to form collaborative teams
                    and triumph over projects collectively.</p>
                </div>
                <div class="groups1">
                </div>
            </div>
            <div class="texts">
                <div class="chat-image">
                </div>
                <div class="messages">
                    <img src="../static/images/chat.svg" alt="chat"/>
                    <h2>Team communication</h2>
                    <p>Leverage TaskHub to engage in seamless communication and
                    productive discussions with your team, accelerating overall productivity.</p>
                </div>
                <div class="send-message">
                </div>
            </div>
            <div class="texts">
                <div class="manager"></div>
                <div class="messages">
                    <img src="../static/images/folder.svg" alt="folder"/>
                    <h2>Manage Projects</h2>
                    <p>As a project manager with TaskHub, you orchestrate teams, delegate tasks to members,
                    and gain real-time insights into progress. Keep tasks aligned, deadlines on point,
                    and your team in perfect synchronization.</p>
                </div>
                <div class="t-manage"></div>
            </div>
        </div>
        <a href="https://youtu.be/OM82a-i5RQo?si=2bxWsTcr9kFa1a9l" class="reminder">Want to know more... Watch demo video here</a>
        <a href="/sign_up" class="reminder">Go ahead and give it a try... Sign up now, its free</a>
        <a href="/log_in" class="reminder">Already have an account? Log in</a>
        <footer>
            <div class="footer-box">

                <div class="logo">

                    <div class="footer_logo">
                        <img src="../static/images/footer_logo.svg" alt="logo"/>
                    </div>
                    <h2 class="header_name_1">Task</h2>
                    <h2 class="header_name_2">Hub</h2>
                </div>
     
                <div class="info">
                    <p>Check out the developer behind <em>TaskHub</em></p>
                    <div>
                        <a href="https://www.github.com/HenryAnyiam" target="_blank" class="my-profile">
                            <img src="../static/images/github.svg" alt="github">
                        </a>
                        <a href="https://www.linkedin.com/in/henry-anyiam" target="_blank" class="my-profile">
                            <img src="../static/images/linkedin.svg" alt="linkedin">
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <script type="text/javascript">
            let anchor = document.querySelector(".display-features")
            let div = document.querySelector(".features")

            anchor.addEventListener("click", function(){
                if(div.style.display === "none")
                    div.style.display = "flex";
                else
                    div.style.display = "none"
            })
            $(".intro_text").hide()
            $(".intro_text").slideDown(5000)
        </script>
    </body>
</html>
