<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Reset Password</title>
        <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
        <link rel="manifest" href="../static/images/site.webmanifest">
        <link rel="stylesheet" href="../static/styles/reset_body.css">
    </head>
    <body>
        <div class="signup-container">
            <div class="logo">
                <div class="header_logo">
                    <img src="../static/images/logo.svg" alt=""/>
                </div>
                <h2 class="header_name_1">Task</h2>
                <h2 class="header_name_2">Hub</h2>
            </div>
            <p>Enter email to continue</p>
            <form action="#" method="post">
                <div class="input-group">
                  <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="submit">
                  <input type="submit" class="btn" value="Continue">
                </div>
              </form>
                <a class="signup" href="/sign_up">Create an Account</a>
        </div>
    </body>
</html>